.btn {
  display: inline-block;
  padding: $spacer0 $spacer;
  font-size: $fs;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $border-width solid transparent;
  border-radius: $border-radius;
  transition: all 0.15s ease-out 0s;

  &:active {
    background-image: none;
    outline: 0;
  }

  &:focus {
    outline: 0;
  }
}

// GROUP ====================================

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .btn {
    position: relative;
    float: left;

    &:focus,
    &:active,
    &.active,
    &:hover {
      z-index: 2;
    }
  }
}

.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group .btn + .btn {
  margin-left: -$border-width;
}

.btn-group > .btn:first-child {
  margin-left: 0;

  &:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.btn-group > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


// VARIATIONS ====================================

.btn-primary {
  color: #fff;
  background-color: $red;
  border-color: $red;

  &:hover {
    background-color: $red-dark;
    border-color: darken($red-dark, 8%);
  }

  &:active,
  &.active,
  &:focus {
    background-color: darken($red-dark, 8%);
    border-color: darken($red-dark, 8%);
  }
}

.btn-secondary {
  color: $body-color;
  background-color: $gray-lightest;
  border-color: darken($gray-lightest, 8%);

  &:hover {
    background-color: $gray-lighter;
    border-color: darken($gray-lighter, 8%);
  }

  &:active,
  &.active,
  &:focus {
    background-color: darken($gray-lighter, 8%);
    border-color: darken($gray-lighter, 16%);
  }
}
