.btn {
  display: inline-block;
  padding: ($spacer *.5) $spacer;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $border-width solid transparent;

  &:active {
    background-image: none;
    outline: 0;
  }

  &:focus {
    outline: 0;
  }
}
