.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 $spacer;
  @include make-container();
}

// GRID ====================================

.grid {
  display: block;
  clear: both;
  @include clearfix();
}

.grid .unit {
  float: left;
  width: 100%;
  padding-right: 10px;
}

.grid .unit:last-child  { padding-right: 0; }
.unit .unit:last-child  { padding-right: 0; }
.unit .grid:last-child > .unit  { padding-bottom: 0; }

.grid .whole            { width: 100%; }
.grid .half             { width: 50%; }
.grid .one-third        { width: 33.3332%; }
.grid .two-thirds       { width: 66.6665%; }
.grid .one-quarter,
.grid .one-fourth       { width: 25%; }
.grid .three-quarters,
.grid .three-fourths,   { width: 75%; }
.grid .one-fifth,       { width: 20%; }
.grid .two-fifths,      { width: 40%; }
.grid .three-fifths,    { width: 60%; }
.grid .four-fifths,     { width: 80%; }
.grid .golden-small,    { width: 38.2716%; }
.grid .golden-large,    { width: 61.7283%; }

.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

// RESPONSIVE ====================================

@include mq-down (sm) {
  .grid:not(.no-stacking-on-mobiles) > .unit {
    width: 50% !important;
  }

  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }
}
