// HEADINGS ====================================

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: ($spacer * .5);
}

// BODY COPY ====================================

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// TEXT UTILS ====================================

.text-label {
  font-weight: 700;
}

.text {
  margin-bottom: 0;
  font-size: $fs-sm;
}

.text-help {
  color: $gray;
}

// Responsive text
@include mq-up (md) {
  .text {
    font-size: $fs;
    margin-bottom: ($spacer * .5);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
