// HEADINGS ====================================

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: $spacer0;
}

h1 { font-size: $fs-h1; }

h2 {
  font-size: $fs-h2;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: $fs-h3;
  font-weight: 600;
}

h4 { font-size: $fs-h4; }
h5 { font-size: $fs-h5; }
h6 { font-size: $fs-h6; }

@include mq-up(md) {
  h1 { font-size: $fs-md-h1; }
  h2 { font-size: $fs-md-h2; }
  h3 { font-size: $fs-md-h3; }
  h4 { font-size: $fs-md-h4; }
  h5 { font-size: $fs-md-h5; }
  h6 { font-size: $fs-md-h6; }
}

// BODY COPY ====================================

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a,
.link {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
