.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
}

.bfc {
  overflow: auto;
}

.arrow {
  background: url('../../img/arrow-right.png') no-repeat;
  background-size: 100%;
  opacity: .4;

  &:hover { opacity: 1; }
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.in { opacity: 1; }
}
