// COLORS - INDEX ====================================

$gray-darker:               #000;
$gray-dark:                 #333;
$gray:                      #959595;
$gray-light:                #dedede;
$gray-lighter:              #eee;
$gray-lightest:             #f9f9f9;
$gray-lightest-alt:         #fbfbfb;

$yellow-darker:             #f99400;
$yellow-dark:               #f9a900;
$yellow:                    #fff500;
$yellow-light:              #fff966;

// GLOBALS  ====================================

$body-bg:                   #fff;
$body-color:                $gray-dark;

$link-color:                $gray-dark;
$link-hover-color:          $gray-dark;
$link-decoration:           none;
$link-hover-decoration:     underline;

$spacer:                    1rem;

$border-width:              1px;
$border-width-lg:           2px;
$border-radius:             .2rem;
$border-radius-lg:          .3rem;

// FONTS  ====================================

$ff:                        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$lh:                        1.5;

$fs-root:                   16px;
$fs:                        1rem;
$fs-sm:                     .875rem;
$fs-md:                     1.125rem;

// RESPONSIVE ====================================

$mq-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-widths: (
  md: 720px
);

