// COLORS - INDEX ====================================

$gray-darker:               #212121;
$gray-dark:                 #333;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #ddd;
$gray-lightest:             #eceeef;

$purple:                    #741474;
$light-purple:              lighten($purple, 45%);
$dark-purple:               darken($purple, 10%);

$orange:                    #f38420;
$light-orange:              lighten($orange, 45%);
$dark-orange:               darken($orange, 10%);

$red:                       #ce2027;
$light-red:                 lighten($red, 45%);
$dark-red:                  darken($red, 10%);

$blue:                      #0b88bb;
$light-blue:                lighten($blue, 45%);
$dark-blue:                 darken($blue, 5%);

$green:                     #5cb85c;

// GLOBALS  ====================================

$body-bg:                   #fff;
$body-color:                $gray-dark;

$link-color:                $purple;
$link-hover-color:          darken($dark-purple, 10%);
$link-decoration:           none;
$link-hover-decoration:     underline;

$spacer:                    1rem;
$spacer0:                   $spacer / 2;
$spacer1:                   $spacer * 1.5;
$spacer2:                   $spacer * 2;
$spacer3:                   $spacer * 2.5;
$spacer4:                   $spacer * 3;

$border-width:              1px;
$border-radius:             .2rem;

// FONTS  ====================================

$ff:                        'Open Sans', sans-serif;
$ff-monospace:              Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$lh:                        1.5;
$lh-sm:                     1.1;
$lh-md:                     1.6;

$fs-root:                   16px;
$fs:                        1rem;
$fs-md:                     1.25rem;

$fs-h1:                     1.602em;
$fs-h2:                     1.424rem;
$fs-h3:                     1.266rem;
$fs-h4:                     1.125rem;
$fs-h5:                     1rem;
$fs-h6:                     0.889rem;

$fs-md-h1:                  2.441rem;
$fs-md-h2:                  1.953rem;
$fs-md-h3:                  1.563rem;
$fs-md-h4:                  1.25rem;
$fs-md-h5:                  1rem;
$fs-md-h6:                  .8rem;

// RESPONSIVE ====================================

$mq-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-widths: (
  sm: 620px,
  md: 748px
);

